// font size


// font-family
$ff-base: "noto-sans-cjk-jp",sans-serif;

// 太さ
$fw-bold: bold;
$fw-medium: 500;
$fw-small: 400;

// 色
$fc-white: #fff;
$fc-base: #101010;
$bg-white: #fff;

// コンテンツサイズ
$wd-content-pc: 1170px;
$wd-content-sp: 350px;
$max-width-pc: 972px;